
@import "../node_modules/bootstrap/scss/_functions";


@import "_variables";

@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_variables-dark";

@import "../node_modules/bootstrap/scss/_maps";

@import "../node_modules/bootstrap/scss/_mixins";

@import "../node_modules/bootstrap/scss/_utilities";
@import "_utilities";

@import "../node_modules/bootstrap/scss/_root";
@import "../node_modules/bootstrap/scss/_transitions";
@import "../node_modules/bootstrap/scss/_nav";
@import "../node_modules/bootstrap/scss/_navbar";
@import "../node_modules/bootstrap/scss/_badge";
@import "../node_modules/bootstrap/scss/_breadcrumb";
@import "../node_modules/bootstrap/scss/_button-group";
@import "../node_modules/bootstrap/scss/_buttons";
@import "../node_modules/bootstrap/scss/_carousel";
@import "../node_modules/bootstrap/scss/_close";
@import "../node_modules/bootstrap/scss/_card";
@import "../node_modules/bootstrap/scss/_containers";
@import "../node_modules/bootstrap/scss/_dropdown";
@import "../node_modules/bootstrap/scss/_forms";
@import "../node_modules/bootstrap/scss/_grid";
@import "../node_modules/bootstrap/scss/_modal";
@import "../node_modules/bootstrap/scss/_offcanvas";
@import "../node_modules/bootstrap/scss/_reboot";
@import "../node_modules/bootstrap/scss/_pagination";
@import "../node_modules/bootstrap/scss/_popover";
@import "../node_modules/bootstrap/scss/_type";
@import "../node_modules/bootstrap/scss/_helpers";
@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/bootstrap-grid";


:root {
  --bs-highlight-bg: white;
  --bs-highlight-color: var(--bs-primary);
  
}


/*** fonts ***/
@font-face {
  font-family: 'Ubuntu';
  font-weight: '400';
  font-style:normal;
  src: url(../fonts/Ubuntu.woff2) format('woff2');
}

@font-face {
  font-family: 'Ubuntu Light';
  font-weight: '300';
  src: url(../fonts/Ubuntu_Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: '400';
  src: url(../fonts/Roboto.woff2) format('woff2');
}


.ff-ubuntu-500-hover:hover {
  font-family: 'Ubuntu', sans-serif;
  font-weight:500;
}

.ff-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.ff-century-old-style {
  font-family: "century-old-style-std", sans-serif;
}

/*** helpers ***/
.no-transition {
  transition: none;
}


/*** header / navbar ***/

header {
  height: auto;
}

#logo {
  transition: width 0.4s;
}

@include media-breakpoint-down(sm) {
  #logo {
    width:50%;
  }
}

.navbar-toggler svg {
  stroke: $wpn-blacker-grey;
}

.navbar-toggler:focus svg,
.navbar-toggler:hover svg {
  stroke: $wpn-red;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY($header-height);
  }
}

@include media-breakpoint-up(md) {
  #navbarSupportedContent {
    display: block;
    min-height:300px;
    transform: translateY(-100%);
  }

  #navbarSupportedContent.show {
    transform: translateY($header-height);
    animation: slide-in 1s ease;
  }
}

.nav-link.project-link {
  padding-top: $navbar-toggler-padding-y;
}

.navbar-title {
    @include font-size(1.125rem);
}

.wpn-arrow-right-submenu {
  background-image: url("../images/icon-submenu-d8d8d8.svg");
  background-repeat: no-repeat;
}

/*** custom button ***/
.btn-outline-black-grey {
  --bs-btn-color: var(--bs-black-grey);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: var(--bs-black-grey);
  --bs-btn-hover-color: var(--bs-primary);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-focus-shadow-rgb: var(--bs-primary);
  --bs-btn-active-color: var(--bs-primary);
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: var(--bs-primary);
}


/*** breadcrumb ***/
.breadcrumb {
  font-family: $meta-font-family;
}

/*** header ***/
.edition_header {
  max-height: 150px;
}

/*** footer ***/
footer {
  min-height: $footer-min-height;
  font-size: $footer-link-font-size;
  line-height: $footer-link-font-size;
}

/*** landing page ***/
.card-subtitle {
  font-family: 'Roboto';
}

.signet {
  background-image: url(../images/icon-signet.svg);
  background-position: 15px 25px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

.intro-text {
  height: 126px;
  mask-image: linear-gradient(to bottom, black 15%, transparent 100%);
  overflow:hidden;
}

.wpn-expand .intro-text {
  height: auto;
  mask-image:unset;
}

.wpn-expand .list-collapsable > li {
  display: list-item;
}

/*** notizen app (mirador) ***/

html[data-page="notes"] .container {
  max-width: unset !important;
  padding-right: 1.25rem !important;
  padding-left: 1.25rem !important;
}



/*** edition view ***/

#edition-view header {
  height: $edition-view-header-height;
}

#edition-view #sub_grid {
  display:grid;
  grid-template-columns: 10.625rem calc((100% - 190px) * 0.6) calc((100% - 190px) * 0.4);
  gap:0;
  min-height:calc(100vh - $edition-view-header-height)
}

#edition-view .entity {
  pointer-events: none;
}

#edition-view wpn-entity[class*='annot_'],
#edition-view wpn-entity[class*='annot_fackel'] .quotes {
  pointer-events: auto;
}

#controls {
  width:10.625rem;
}

#textcolumn {
  width: calc(65ch + 10.625rem);
  max-width: calc(90% + 40px);
  padding-right: 40px;
}

#textcontent {
  font-size: 20px;
  line-height: 1.42857143;
}


/*** TEI Styles Walpurgisnacht ***/
.runningText1,.typescriptRunningText1 {
  font-size: 1em;
  text-align: justify;
  text-indent: 30px;
}

.runningText2 {
  text-indent: 0;
  font-size: 1em;
  text-align: justify;
}

.runningText2 .runningText1 {
  font-size:unset;
}

.spacing {
  letter-spacing: 2.5px;
}

.longQuote,
.typescriptLongQuote,
.inkLongQuote,
.typescriptLongQuoteLeading {
  font-size: 0.75em;
  text-align: justify;
  display: block;
  margin: $spacer * 0.5 0;
  text-indent: 0;
}

.longQuoteStart {
  font-size: 0.75em;
  text-align: justify;
  margin-top: $spacer * 0.5;
  display: block;
  text-indent: 0;
}

.longQuoteEnd,.typescriptLongQuoteEnd {
  font-size: 0.75em;
  text-align: justify;
  margin-bottom: $spacer * 0.5;
  display: block;
  text-indent: 0;
}

.longQuoteStartCenter {
  font-size: 0.75em;
  text-align: center;
  margin-top: $spacer * 0.5;
  display: block;
}

.longQuoteEndCenter {
  font-size: 0.75em;
  text-align: center;
  margin-bottom: $spacer * 0.5;
  display: block;
}
.inkLongQuote .longQuoteIndent,
.longQuote .longQuoteIndent,
.longQuote .longQuoteCenter,
.longQuote .longQuoteStartIndent,
.longQuote .longQuoteEndIndent,
.longQuoteStart .longQuoteStartIndent,
.longQuoteVerse .longQuoteVerseStart,
.longQuoteVerse .longQuoteVerseEnd  {
  font-size: unset;
}

.longQuoteVerse {
  margin-top: $spacer * 0.5;
  margin-bottom: $spacer * 0.5;
  margin-left: $spacer * 3 !important;
  text-indent:0;
}

.longQuoteEndIndent .longQuoteEndCenter {
  font-size: unset;
}

.longQuoteCenter {
  font-size: 0.75em;
  text-align: center;
  margin: $spacer * 0.5 0;
  display: block;
}

.longQuoteMiddleCenter {
  font-size: 0.75em;
  text-align: center;
  display: block;
}

.longQuoteStartIndent,
.longQuoteMarginStart {
  font-size: 0.75em;
  text-indent: $spacer * 3;
  margin-top: $spacer * 0.5;
  text-align: justify;
  display: block;
}



.longQuoteMiddleIndent,
.longQuoteMarginMiddle {
  font-size: 0.75em;
  text-align: justify;
  display: block;
}

.longQuoteMiddleIndent {
  text-indent: $spacer * 3;
}

.longQuoteMarginMiddle {
  text-indent: 0;
  margin-left: $spacer * 3;
}

.longQuoteEndIndent,
.longQuoteMarginEnd {
  font-size: 0.75em;
  text-indent: $spacer * 3;
  margin-bottom: $spacer * 0.5;
  text-align: justify;
  display:block;
}

.longQuoteRightAlign2, .typescriptLongQuoteRightAlign2 {
    font-size: 0.75em;
    text-align: center;
    margin-bottom: $spacer * 0.5;
    margin-top: $spacer * 0.5;
    margin-right: $spacer * 2;
    display: table !important;
    margin-left: auto;
    text-indent: 0;
}

.typescriptLongQuoteRightAlign2 {
  padding-top: $spacer * 2;
}

.longQuoteVerse, 
.inkLongQuoteVerse, 
.typescriptLongQuoteVerse, 
.typescriptLongQuoteVerseLeading {
  font-size: 0.75em;
  margin: $spacer * 0.5 0;
  text-align: justify;
  display:block;
} 

.longQuoteVerseStart, .longQuoteVerseMiddle {
  text-align: justify;
  font-size: 0.75em;
}

.longQuoteVerseStart {
  margin-top: $spacer * 0.5;
}

.FackelQuote_columnRight {
  text-align: justify;
  font-size: 0.75em;
  text-indent: 0;
  margin-top: $spacer * 0.5;
  margin-bottom: $spacer * 0.5;
}

.longQuoteRightAlign,
.longQuoteEndRightAlign2,
.typescriptLongQuoteRightAlign
{
  font-size: 0.75em;
  text-align:right;
}

.typescriptLongQuoteRightAlign {
  margin-top: $spacer * 0.5;
  margin-bottom: $spacer * 0.5;
}

.longQuoteEndRightAlign2 {
    margin-bottom: $spacer * 0.5;
    margin-right: $spacer * 2;
    display: block;
}

.longQuoteVerseCenter {
  margin: $spacer * 0.5 0;
}

.longQuoteVerseCenter .l {
  font-size: 0.75em;
  display:block;
  margin: 0 auto;
  width:50%;
}

.longQuoteVerseEnd {
  font-size: 0.75em;
  margin-bottom: $spacer * 0.5; 
}

.longQuoteIndent, .typescriptLongQuoteIndent {
  font-size: 0.75em;
  display: block;
  text-align: justify;
  text-indent: 30px;
  margin: $spacer * 0.5 0;
}

.typescriptLongQuoteTitle,
.typescriptLongQuoteTitle2 {
  font-size: 0.75em;
  display:block;
  text-align: center;
  margin-top: $spacer * 0.5;
}

.typescriptLongQuoteAdvInsert {
  font-size: 0.75em;
  text-align: center;
  border-style: dashed;
  border-width: 2px 0; 
}

.indent1 {
  text-indent: 12rem;
}

.indent3 {
  text-indent: 13.125rem;
}

/*** register related ***/



/*** detail view related ***/

summary::after {
  content: '';
  width: 5px;
  height: 10px;
  background: url('../images/icon-arrow-collapse.svg');
  background-repeat: no-repeat;
  margin-left: $spacer * 2;
  transition: 0.2s;
  display: inline-block;
}

details[open] > summary::after {
  transform: rotate(90deg);
}

.kwic-wrapper .comments {
    content: "";
    background-image: url(../images/icon-signet-comment-intext.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-size: 8px 8px;
    left: -3px;
    padding-left: 8px;
}

wpn-detail-view:has(span[data-bs-toggle="popover"]:hover) details:not([open]) .summary-sources span {
  background:$wpn-lighter-grey;
}



/** pagination **/
.dropdown-toggle::after {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-left:1rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.modal-open { 
  padding-right:0 !important;
}

.quote_signet_background {
  background-image: url("../images/icon-signet-intertext.svg");
 }
 
.person_signet_background {
  background-image: url("../images/icon-signet-person.svg");
 }
 
.comment_signet_background {
  background-image: url("../images/icon-signet-comment.svg");
 }
 
.fackel_signet_background {
  background-image: url("../images/icon-signet-fackel.svg");
 }

/** detail view Dritter Publikationsschritt **/

#textconent-pb .rightAlignSmall {
  text-align: right;
  text-align-last: right;
  font-size: 8pt;
}

#textcontent-pb .runningText1,
#textcontent-pb .runningText2,
#textcontent-pb .longQuote,
#textcontent-pb .longQuoteStart,
#textcontent-pb .longQuoteEnd,
#textcontent-pb .longQuoteStartIndent,
#textcontent-pb .longQuoteMarginStart,
#textcontent-pb .longQuoteMiddleIndent,
#textcontent-pb .longQuoteMarginMiddle,
#textcontent-pb .longQuoteEndIndent,
#textcontent-pb .longQuoteMarginEnd,
#textcontent-pb .longQuoteIndent
#textcontent-pb .inkLongQuote{
  text-align: justify;
  text-align-last: justify;
}


#textcontent-pb .inkLongQuote,
#textcontent-pb .FackelQuote_columnRight {
  text-align: left;
  text-align-last: left;
}

#textcontent-pb .typescriptLongQuoteIndent {
  font-size: 1em;
}

#textcontent-pb .typescriptLongQuoteIndent,
#textcontent-pb .typescriptLongQuoteLeading
#textcontent-pb .typescriptRunningText1,
#textcontent-pb .typescriptLongQuote,
#textcontent-pb .typescriptLongQuoteStart {
  text-align: left;
  text-align-last: left;
  margin: $spacer * 0.5 0;
}

#textcontent-pb .typescriptLongQuoteEnd {
  text-align: left;
  text-align-last: left;
  margin-bottom: $spacer * 0.5;
}

#textcontent-pb .longQuoteVerse,
#textcontent-pb .inkLongQuoteVerse,
#textcontent-pb .typescriptLongQuoteVerse,
#textcontent-pb .typescriptLongQuoteVerseLeading,
#textcontent-pb .longQuoteVerseStart,
#textcontent-pb .longQuoteVerseEnd,
#textcontent-pb .longQuoteVerseMiddle {
  text-align-last: left;
  text-align: left;
  text-indent: 30px;
}

#textcontent-pb .longQuoteVerse {
  word-spacing: .2rem;
}

#textcontent-pb .inkCenterAlignIndent1{
  text-align-last: center;
  text-align: center;
  text-indent: 30px;
}

#textcontent-pb .longQuoteMiddleCenter,
#textcontent-pb .longQuoteVerseCenter,
#textcontent-pb .typescriptLongQuoteTitle,
#textcontent-pb .typescriptLongQuoteTitle2,
#textcontent-pb .typescriptLongQuoteAdvInsert,
#textcontent-pb .typescriptLongQuoteRightAlign,
#textcontent-pb .typescriptLongQuoteRightAlign2 {
  text-align-last: center;
  text-align: center;
}

#edition-view #sub_grid_pb {
  display:grid;
  grid-template-columns: calc(100% * 0.4) calc(100% * 0.4) calc(100% * 0.2);
  gap:0;
  min-height:calc(100vh - $edition-view-header-height)
}

.print-page.witnessPrint {
  $height: 21cm;
  width: 14.2cm;
  height: $height;
  margin: 0 auto;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .print-body.witnessPrint {
    display: grid;
    grid-template-columns: calc(100% * 0.198) calc(100% * 0.604) calc(100% * 0.198);
    gap: 0;
  }

  .print-header.witnessPrint,
  .print-footer.witnessPrint {
    height: auto;
    position: relative;
  }
}

.print-page.witnessTypescript {
  width: 19.4cm;
  height: 26cm;
  margin: 0 auto;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .print-body.witnessTypescript {
    display: grid;
    grid-template-columns: calc(100% * 0.154) auto auto;
    gap: 0;
  }

  .print-header.witnessTypescript,
  .print-footer.witnessTypescript {
    position: relative;
  }
}

.print-page.witnessTypescriptInsert {
  width: 19.4cm;
  height: 26cm;
  margin: 0 auto;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .print-body.witnessTypescriptInsert {
    display: grid;
    grid-template-columns: calc(100% * 0.175) auto auto;
    gap: 0;
  }

  .print-header.witnessTypescriptInsert {
    position: relative;
  }
  
  .print-footer.witnessTypescriptInsert {
    position: relative;
  }
}

#textcolumn-pb {
  // width: 106ch;
  // max-width: calc(90% + 40px);
  // padding-right: 40px;
  white-space: nowrap;
}

#textcontent-pb {
  font-size: 10pt;
  line-height: 11pt;
}

#textcontent-pb .typescriptLongQuote,
#textcontent-pb .typescriptLongQuoteLeading {
  font-size: 1em;
  line-height: 1em;
}

#textcontent-pb .longQuote,
#textcontent-pb .inkLongQuote
 {
  font-size: 7pt;
  line-height: 8pt;
}

#textcontent-pb .typescriptRunningText1,
#textcontent-pb .typewriter,
#textcontent-pb .typewriter2 {
  // font-size: 11pt;
  // line-height: 16pt;
  text-align: left;
  text-align-last: left;
  font-family: monospace;
  // letter-spacing: 0.4pt;
}

// #textcontent-pb .spacing {
//   letter-spacing: 1pt;
// }

#infocontent-pb {
  font-size: 1em;
  line-height: 1.2em;
}

// .text-align-justify {
//   text-align: justify; /* For Edge */
//   text-align-last: justify;
// }

.text-align-left {
  text-align: left !important;
  text-align-last: left !important;  
}
.bottomLowerLeft {
  left: 0;
  bottom: 0;
}

.bottom {
  left: 8.5%;
  top: 86.8%
}

.bottomLower {
  left: 16.3%;
  top: 92.5%;
}

.bottomCenter {
  left: 22.6%;
  top: 82.4%;
}

.bottomLeft {
  left: 10.7%;
  top: 88.8%;
}

.bottomLowerLeft {
  left: 10.7%;
  top: 92.9%;
}

.bottomLowerCenter {
  left: 27%;
  top: 92.9%;
}

.bottomRight {
  left: 54.5%;
  top: 87.9%;
}

.bottomLowerRight {
  left: 54.5%;
  top: 92.9%;
}

.bottomRightCorner {
  left: 83.1%;
  top: 93.6%;
}

.bottomUpper {
  left: 9%;
  top: 83.6%;
}

.bottomUpperLeft {
  left: 10.7%;
  top: 83.6%;
}

.bottomUpperRight {
  left: 54.5%;
  top: 83.6%;
}

.topUpper {
  left: 18.3%;
  top: 1.9%;
}

.topUpperCenter {
  left: 26%;
  top: 1.9%;
}

.topUpperLeft {
  left: 10%;
  top: 1.9%;
}

.topUpperRight {
  left: 35.1%;
  top: 1.9%;
}

.topCenter {
  left: 26%;
  top: 6.5%;
}

.topLeft {
  left: 10%;
  top: 6.5%;
}

.topRight {
  left: 68.5%;
  top: 6.5%;
}

.top {
  left: 8.5%;
  top: 6.5%;
}

.topLower {
  left: 8.5%;
  top: 1%;
}

.topLowerCenter {
  left: 26%;
  top: 11%;
}

.topLowerLeft {
  left: 10%;
  top: 11%;
}

.topLowerRight {
  left: 68.6%;
  top: 11%;
}

.topRightCorner {
  left: 87.9%;
  top: 4.3%;
}

.topLeftCorner {
  left: 6.4%;
  top: 4.3%;
}

.marginLowerLeft {
  left: 1.5%;
  top: 81.2%;
}

.marginLowerRight {
  right: 1.5%;
  top: 81.2%;
}

.marginUpperLeft {
  left: 1.5%;
  top: 17.6%;
}

.marginMiddleLeft {
  left: 1.5%;
  top: 53.2%;
}

.marginMiddleRight {
  top: 53.2%;
  right: 1.5%;
}

// #textcontent-pb .letterSpacing {
//   letter-spacing: 1pt;
// }

#textcontent-pb .underline {
  text-decoration: underline;
}

#textcontent-pb .entity {
  pointer-events: auto !important;
}

#textcontent-pb wpn-entity[class*='quotes'] {
  pointer-events: none !important;
}

#textcontent-pb .pencilOnTypescript,
#textcontent-pb .undefined,
#textcontent-pb .redOnProof,
#textcontent-pb .pencilOnProof,
#textcontent-pb .pencilOnProofKK,
#textcontent-pb .inkOnProofKK {
  font-size: 8pt;
}

#textcontent-pb .pencilOnTypescript,
#textcontent-pb .pencilOnProof,
#textcontent-pb .undefined {
  color: #b7b7b7;
}

#textcontent-pb .pencilOnProofKK {
  color: #5e5e5e;
}

#textcontent-pb .redOnProof {
  color: #ff7171b5;
}

#textcontent-pb .inkOnProofKK {
  color: #000;
}

#textcontent-pb .typewriter,
#textcontent-pb .typewriter2 {
  color: #303030;
}

// #textcontent-pb .metamark  {
//   position: absolute;
//   text-indent: 0 !important;
// }

#textcontent-pb .note {
  position: absolute;
  text-indent: 0 !important;
  text-align: left;
  text-align-last: left;
}

#textcontent-pb .add {
  font-size: 0.75em;
  text-indent: 0 !important;
}

#textcontent-pb .add div {
  width: 100%;
  word-break: break-word;
  white-space: normal;
}

#textcontent-pb .add.rendition {
  position: relative !important;
}

#textcontent-pb .indent1 {
  text-indent: 8rem;
}

#textcontent-pb .indent2 {
  text-indent: 12rem;
}

#textcontent-pb .indent3 {
  text-indent: 13.125rem;
}

#textcontent-pb .unclear {
  background-color: #d6d6d6;
}

#textcontent-pb .unclear:hover::after {
  content: '?';
}

// @rend

.typescriptFloatRight {
  float: right;
}

.overwritten,
.x-edOut {
  color: #ffb922b5;
}

.rotate270 {
  transform: rotate(270deg);
}

.rotate315 {
  transform: rotate(315deg);
}

.below {
  position: absolute;
  bottom: -10pt;
}

.above {
  position: absolute;
  top: -10pt;
}

.topRight {
  top: 1.9%;
  right: 1.9%;
}

.marginRightAbove {
  margin-left: 10%;
  position: absolute;
  top: -10pt;
}

.marginRightBelow {
  margin-left: 10%;
  position: absolute;
  bottom: -10pt;
}

/* uncomment and test when all new attr values are available in Gesamt.xml */

div:has(> .marginRight), div:has(> .lineRight), div:has(> .doubleLineRight)  {
  // position: absolute;
  // top: -10pt;
  // text-align: center;
  text-align: left;
  margin-left: 10%;
}

div:has(> .marginLeft), div:has(> .lineLeft), div:has(> .doubleLineLeft) {
  // position: absolute;
  // top: -10pt;
  // text-align: center;
  text-align: right;
  padding-right: 10%;
}

// div:has(> .marginOuterRight)  {
//   position: absolute;
//   top: -10pt;
//   text-align: right;
// }

// div:has(> .marginOuterLeft) {
//   position: absolute;
//   top: -10pt;
//   text-align: left;
// }

// div:has(> .marginInnerRight)  {
//   margin-left: 10%;
//   text-align: left;
// }

// div:has(> .marginInnerLeft) {
//   padding-right: 10%;
//   text-align: right;
// }

.marginLeftAbove {
  margin-left: 20%;
  position: absolute;
  top: -10pt;
}

.marginLeftBelow {
  margin-left: 20%;
  position: absolute;
  bottom: -10pt;
}

.inline {
  display: inline;
}

.pencilRightAlign {
  text-align: right;
  text-align-last: right;
}

.no-indent {
  text-indent: 0 !important;
}

.pageNumRight {
  left: 82.5%;
  top: 4.5%;
}

.pageNumLeft {
  left: 4.5%;
  top: 4.5%;
}

.fw {
  position: absolute;
}

.fw.typescriptInsertNum {
  font-size: 10pt;
  line-height: 13pt;
  border-bottom: 1px solid #000;
  padding: 5px 15px;
}

.fw.typescriptPageNum {
  font-size: 10pt;
  line-height: 13pt;
}

.metamark.typescriptFont {
  position: relative !important;
  display: block;
  text-decoration: underline;
}

.metamark.inkFont{
  text-decoration: underline;
}

/* metamark relocation inline*/
.metamark.mm-inline.target {
  position: relative;
}

.metamark.mm-inline.target span {
  position: absolute;
  right: -3px;
}

.typescriptFont {
  font-family: "monospace";
}

/*** timeline ***/
wpn-time-line {
  height: calc(100vh - 200px);
}

/*** osd overlays ***/
.osd_overlay {
  border: 2px solid $wpn-red;
  background-color: $wpn-red;
  opacity: 0.4;
}

.align-super {
  vertical-align: super;
}

.text-decoration-underline-dotted {
  text-decoration: underline dotted;
}

.border-red-500 {
  border-color: rgb(255, 92, 92) !important;
}

.add.overwrite {
  font-size: 1em !important;
}

.mod.noUnderline {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.mod.longQuote {
  display: inline !important;
  border: 1px solid #8b8b8b;
  font-size: 1em !important;
}

.mod.longQuote span {
  border: 1px solid #8b8b8b;
  font-size: 1em !important;
}

// .overwrite:hover {
//   cursor: url(images/cursor-circle.svg) 15 15, auto;
//   opacity: 0;
// }

/*** nav tabs register view ***/
.nav-tabs a.active {
  font-weight: bold;
}

/*** a11y ***/

body.modal-open, body.modal-open main {
  overflow: hidden !important;
}