
@import "../node_modules/bootstrap/scss/_functions";


@import "_variables";

@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_variables-dark";

@import "../node_modules/bootstrap/scss/_maps";

@import "../node_modules/bootstrap/scss/_mixins";

@import "../node_modules/bootstrap/scss/_utilities";
@import "_utilities";

@import "../node_modules/bootstrap/scss/_root";
@import "../node_modules/bootstrap/scss/_transitions";
@import "../node_modules/bootstrap/scss/_nav";
@import "../node_modules/bootstrap/scss/_navbar";
@import "../node_modules/bootstrap/scss/_badge";
@import "../node_modules/bootstrap/scss/_breadcrumb";
@import "../node_modules/bootstrap/scss/_button-group";
@import "../node_modules/bootstrap/scss/_buttons";
@import "../node_modules/bootstrap/scss/_carousel";
@import "../node_modules/bootstrap/scss/_close";
@import "../node_modules/bootstrap/scss/_card";
@import "../node_modules/bootstrap/scss/_containers";
@import "../node_modules/bootstrap/scss/_dropdown";
@import "../node_modules/bootstrap/scss/_forms";
@import "../node_modules/bootstrap/scss/_grid";
@import "../node_modules/bootstrap/scss/_modal";
@import "../node_modules/bootstrap/scss/_offcanvas";
@import "../node_modules/bootstrap/scss/_reboot";
@import "../node_modules/bootstrap/scss/_pagination";
@import "../node_modules/bootstrap/scss/_popover";
@import "../node_modules/bootstrap/scss/_type";
@import "../node_modules/bootstrap/scss/_helpers";
@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/bootstrap-grid";




/*** fonts ***/
@font-face {
  font-family: 'Ubuntu';
  font-weight: '400';
  font-style:normal;
  src: url(../fonts/Ubuntu.woff2) format('woff2');
}

@font-face {
  font-family: 'Ubuntu Light';
  font-weight: '300';
  src: url(../fonts/Ubuntu_Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: '400';
  src: url(../fonts/Roboto.woff2) format('woff2');
}


.ff-ubuntu-500-hover:hover {
  font-family: 'Ubuntu', sans-serif;
  font-weight:500;
}

.ff-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.ff-century-old-style {
  font-family: "century-old-style-std", sans-serif;
}

/*** helpers ***/
.no-transition {
  transition: none;
}


/*** header / navbar ***/

header {
  height: auto;
}

#logo {
  transition: width 0.4s;
}

@include media-breakpoint-down(sm) {
  #logo {
    width:50%;
  }
}

.navbar-toggler svg {
  stroke: $wpn-blacker-grey;
}

.navbar-toggler:focus svg,
.navbar-toggler:hover svg {
  stroke: $wpn-red;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY($header-height);
  }
}



#navbarSupportedContent {
  display: block;
  min-height:300px;
  transform: translateY(-100%);
}

#navbarSupportedContent.show {
  transform: translateY($header-height);
  animation: slide-in 1s ease;
}

.nav-link.project-link {
  padding-top: $navbar-toggler-padding-y;
}

.navbar-title {
    @include font-size(1.125rem);
}

.wpn-arrow-right-submenu {
  background-image: url("../images/icon-submenu-d8d8d8.svg");
  background-repeat: no-repeat;
}

/*** custom button ***/
.btn-outline-black-grey {
  --bs-btn-color: var(--bs-black-grey);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: var(--bs-black-grey);
  --bs-btn-hover-color: var(--bs-primary);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-focus-shadow-rgb: var(--bs-primary);
  --bs-btn-active-color: var(--bs-primary);
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: var(--bs-primary);
}


/*** breadcrumb ***/
.breadcrumb {
  font-family: $meta-font-family;
}

/*** header ***/
.edition_header {
  max-height: 150px;
}

/*** footer ***/
footer {
  min-height: $footer-min-height;
  font-size: $footer-link-font-size;
  line-height: $footer-link-font-size;
}

/*** landing page ***/
.card-subtitle {
  font-family: 'Roboto';
}

.signet {
  background-image: url(../images/icon-signet.svg);
  background-position: 15px 25px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

.intro-text {
  height: 126px;
  mask-image: linear-gradient(to bottom, black 15%, transparent 100%);
  overflow:hidden;
}

.wpn-expand .intro-text {
  height: auto;
  mask-image:unset;
}

/*** notizen app (mirador) ***/

html[data-page="notes"] .container {
  max-width: unset !important;
  padding-right: 1.25rem !important;
  padding-left: 1.25rem !important;
}



/*** edition view ***/

#edition-view header {
  height: $edition-view-header-height;
}

#edition-view #sub_grid {
  display:grid;
  grid-template-columns: 10.625rem calc((100% - 190px) * 0.6) calc((100% - 190px) * 0.4);
  gap:0;
  min-height:calc(100vh - $edition-view-header-height)
}

#controls {
  width:10.625rem;
}

#textcolumn {
  width: calc(65ch + 10.625rem);
  max-width: calc(90% + 40px);
  padding-right: 40px;
}

#textcontent {
  font-size: 20px;
  line-height: 1.42857143;
}


/*** TEI Styles Walpurgisnacht ***/
.runningText1,.typescriptRunningText1 {
  font-size: 1em;
  text-align: justify;
  text-indent: 30px;
}

.runningText2 {
  text-indent: 0;
  font-size: 1em;
  text-align: justify;
}

.runningText2 .runningText1 {
  font-size:unset;
}

.spacing {
  letter-spacing: 2.5px;
}

.longQuote,
.typescriptLongQuote,
.inkLongQuote,
.typescriptLongQuoteLeading {
  font-size: 0.75em;
  text-align: justify;
  display: block;
  margin: $spacer * 0.5 0;
  text-indent: 0;
}

.longQuoteStart {
  font-size: 0.75em;
  text-align: justify;
  margin-top: $spacer * 0.5;
  display: block;
  text-indent: 0;
}

.longQuoteEnd,.typescriptLongQuoteEnd {
  font-size: 0.75em;
  text-align: justify;
  margin-bottom: $spacer * 0.5;
  display: block;
  text-indent: 0;
}

.longQuoteStartCenter {
  font-size: 0.75em;
  text-align: center;
  margin-top: $spacer * 0.5;
  display: block;
}

.longQuoteEndCenter {
  font-size: 0.75em;
  text-align: center;
  margin-bottom: $spacer * 0.5;
  display: block;
}
.inkLongQuote .longQuoteIndent,
.longQuote .longQuoteIndent,
.longQuote .longQuoteCenter,
.longQuote .longQuoteStartIndent,
.longQuote .longQuoteEndIndent,
.longQuoteStart .longQuoteStartIndent,
.longQuoteVerse .longQuoteVerseStart,
.longQuoteVerse .longQuoteVerseEnd  {
  font-size: unset;
} 

.longQuoteEndIndent .longQuoteEndCenter {
  font-size: unset;
}

.longQuoteCenter {
  font-size: 0.75em;
  text-align: center;
  margin: $spacer * 0.5 0;
  display: block;
}

.longQuoteMiddleCenter {
  font-size: 0.75em;
  text-align: center;
  display: block;
}

.longQuoteStartIndent,
.longQuoteMarginStart {
  font-size: 0.75em;
  text-indent: $spacer * 3;
  margin-top: $spacer * 0.5;
  text-align: justify;
  display: block;
}



.longQuoteMiddleIndent,
.longQuoteMarginMiddle {
  font-size: 0.75em;
  text-indent: $spacer * 3;
  text-align: justify;
  display: block;
}

.longQuoteEndIndent,
.longQuoteMarginEnd {
  font-size: 0.75em;
  text-indent: $spacer * 3;
  margin-bottom: $spacer * 0.5;
  text-align: justify;
  display:block;
}

.longQuoteRightAlign2, .typescriptLongQuoteRightAlign2 {
    font-size: 0.75em;
    text-align: center;
    margin-bottom: $spacer * 0.5;
    margin-top: $spacer * 0.5;
    margin-right: $spacer * 2;
    display: table !important;
    margin-left: auto;
}

.longQuoteVerse, 
.inkLongQuoteVerse, 
.typescriptLongQuoteVerse, 
.typescriptLongQuoteVerseLeading {
  font-size: 0.75em;
  margin: $spacer * 0.5 0;
  text-align: justify;
} 

.longQuoteVerseStart, .longQuoteVerseMiddle {
  text-align: justify;
  font-size: 0.75em;
}

.longQuoteVerseStart {
  margin-top: $spacer * 0.5;
}

.FackelQuote_columnRight {
  text-align: justify;
  font-size: 0.75em;
}

.longQuoteRightAlign,
.longQuoteEndRightAlign2,
.typescriptLongQuoteRightAlign
{
  font-size: 0.75em;
  text-align:right;
}

.longQuoteEndRightAlign2 {
    margin-bottom: $spacer * 0.5;
    margin-right: $spacer * 2;
    display: block;
}

.longQuoteVerseCenter {
  font-size: 0.75em;
  display:block;
  margin: $spacer * 0.5 auto;
  width:50%;
}

.longQuoteVerseEnd {
  font-size: 0.75em;
  margin-bottom: $spacer * 0.5; 
}

.longQuoteIndent, .typescriptLongQuoteIndent {
  font-size: 0.75em;
  display: block;
  text-align: justify;
  text-indent: 30px;
  margin: $spacer * 0.5 0;
}

.typescriptLongQuoteTitle,
.typescriptLongQuoteTitle2 {
  font-size: 0.75em;
  display:block;
  text-align: center;
}

.typescriptLongQuoteAdvInsert {
  font-size: 0.75em;
  text-align: center;
  border-style: dashed;
  border-width: 2px 0; 
}

.indent1 {
  text-indent: 12rem;
}

.indent3 {
  text-indent: 13.125rem;
}

/*** register related ***/



/*** detail view related ***/

/** pagination **/
.dropdown-toggle::after {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-left:1rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.modal-open { 
  padding-right:0 !important;
}

.quote_signet_background {
  background: url("../images/icon-signet-intertext.svg") 10px 10px/10px 12px no-repeat;
}

.person_signet_background {
  background: url("../images/icon-signet-person.svg") 10px 10px/10px 12px no-repeat;
}

/** detail view Dritter Publikationsschritt **/

#edition-view #sub_grid_pb {
  display:grid;
  grid-template-columns: calc(100% * 0.3) calc(100% * 0.5) calc(100% * 0.2);
  gap:0;
  min-height:calc(100vh - $edition-view-header-height)
}

.printBody.witnessPrint {
  display: grid;
  grid-template-columns: calc(100% * 0.198) calc(100% * 0.604) calc(100% * 0.198);
  gap: 0;
}

.printBody.witnessTypescript {
  display: grid;
  grid-template-columns: calc(100% * 0.154) calc(100% * 0.8) calc(100% * 0.046);
  gap: 0;
}

.printBody.witnessTypescriptInsert {
  display: grid;
  grid-template-columns: calc(100% * 0.175) calc(100% * 0.775) calc(100% * 0.05);
  gap: 0;
}

#textcolumnPb {
  width: 106ch;
  max-width: calc(90% + 40px);
  padding-right: 40px;
}

.printHeader.witnessPrint,
.printFooter.witnessPrint,
.printHeader.witnessTypescript,
.printFooter.witnessTypescript {
  height: 5cm;
  position: relative;
}

.printHeader.witnessTypescriptInsert {
  height: 2,106cm;
  position: relative;
}

.printFooter.witnessTypescriptInsert {
  height: 1cm;
  position: relative;
}

.note.bottom,
.note.bottomLowerLeft {
  position: absolute;
}

.note.bottomLowerLeft {
  left: 0;
  bottom: 0;
}

.note.bottom {
  bottom: 0;
}

.note.top,
.note.topUpperLeft,
.note.topLowerRight {
  position: absolute;
}

.note.topUpperLeft {
  left: 0;
  top: 0;
}

.note.topLowerRight {
  right: 0;
  bottom: 0;
}

.note.top {
  top: 0;
}

.pencilOnProof {
  font-family: "century-old-style-std", sans-serif;
  font-size: 0.75em;
}

.inkOnProofKK {
  font-family: "century-old-style-std", sans-serif;
  font-size: 0.75em;
}

.metamark.marginRight {
  align-self: flex-end;
}

.metamark.marginLeft {
  align-self: flex-start;
}

.add.pencilRightAlign {
  font-family: "century-old-style-std", sans-serif;
  font-size: 0.75em;
  right: -5cm;
}

.add.marginLeft {
  font-family: "century-old-style-std", sans-serif;
  font-size: 0.75em;
  left: -5cm;
}

.add.marginRight {
  font-family: "century-old-style-std", sans-serif;
  font-size: 0.75em;
  right: -5cm;
}